<fieldset>
    <legend>{{ title }}</legend>

    <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" value="{{ game.name }}">
        </div>
    
        <div class="form-group">
            <label for="image">Image URL</label>
            <input class="form-control" type="text" name="image" id="image" value="{{ game.image }}">
        </div>
</fieldset>